/* VARIABLES */

$widthFull: 100%;
$heightFull: 100%;
$colorMain: #4d6783;
$colorGrey: #778899;
$colorBlack: #363533;
$colorBody: #fafafa;
$colorWhite: #ffffff;
$size15: 15px;
$size10: 10px;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";




